/* ========================================
   MAIN.CSS - Point d'entrée des styles
   ========================================
   Ce fichier importe tous les modules CSS
   dans l'ordre de priorité approprié.
   ======================================== */

/* ========== UTILS ========== */
/* Reset et variables globales - à charger en premier */
@import "./utils/reset.css";
@import "./utils/variables.css";

/* ========== COMPONENTS ========== */
/* Composants réutilisables sur toutes les pages */
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/cards.css";
@import "./components/buttons.css";
@import "./components/background.css";

/* ========== PAGES ========== */
/* Styles spécifiques à chaque page */
@import "./pages/home.css";
@import "./pages/competence.css";
@import "./pages/contact.css";
@import "./pages/ecole-alternance.css";
@import "./pages/veille-technologique.css";
@import "./pages/projets-E6.css";
@import "./pages/bts-sio.css";
@import "./pages/missions-E5.css";

/* ========== RESPONSIVE ========== */
/* Media queries en dernier pour avoir la priorité sur les styles de pages */
@import "./utils/responsive.css";
